{% load static %}

<footer class="mt-auto">

    <div class="container-fluid bg-ifpr text-white p-3">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5>O Município</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Link 1</a></li>
                        <li><a href="#" class="text-white">Link 2</a></li>
                        <li><a href="#" class="text-white">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h5>Serviços</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Link 1</a></li>
                        <li><a href="#" class="text-white">Link 2</a></li>
                        <li><a href="#" class="text-white">Link 3</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h5>Acesso rápido</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Link 1</a></li>
                        <li><a href="#" class="text-white">Link 2</a></li>
                        <li><a href="#" class="text-white">Link 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-3">
        <span class="lead">Desenvolvido por Jefferson Duarte</span><br>
        <span>© 2022 Copyright:<a href="#"> Site</a></span>
    </div>
    
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>